<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freetax.mybatis.advisory.mapper.AdvisoryMapper">
    <resultMap id="BaseResultMap" type="com.freetax.mybatis.advisory.entity.Advisory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="visit" property="visit" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, visit, intime
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fr_advisory
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fr_advisory
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
    insert into fr_advisory (id,name, phone, visit,
      intime)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{visit,jdbcType=INTEGER},
      #{intime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
        insert into fr_advisory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="visit != null">
                visit,
            </if>
            <if test="intime != null">
                intime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="visit != null">
                #{visit,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
        update fr_advisory
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="visit != null">
                visit = #{visit,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
    update fr_advisory
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      visit = #{visit,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryAdvisoryById" resultType="com.freetax.mybatis.advisory.entity.Advisory"
            parameterType="java.lang.Integer">
    SELECT * FROM fr_advisory WHERE id = #{id,jdbcType=INTEGER}
  </select>

    <select id="findAllQueryAdvisoryByList" parameterType="com.freetax.mybatis.advisory.entity.Advisory"
            resultType="com.freetax.mybatis.advisory.entity.Advisory">
        SELECT *
        FROM fr_advisory
        <where>
            <if test="name != null">
                AND name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="phone != null">
                AND phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="visit != null">
                AND visit = #{visit,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY intime DESC
    </select>

    <update id="updateAdvisoryVisit" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
    UPDATE fr_advisory SET visit = #{visit,jdbcType=INTEGER} WHERE  id  = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateAdvisoryIntime" parameterType="com.freetax.mybatis.advisory.entity.Advisory">
        UPDATE fr_advisory SET intime = #{intime,jdbcType=TIMESTAMP} WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryAdvisoryIsVisit" parameterType="com.freetax.mybatis.advisory.entity.Advisory" resultType="java.lang.Integer">
        SELECT id FROM fr_advisory WHERE phone = #{phone,jdbcType=VARCHAR} AND visit = 0 AND name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>