<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.freetax.mybatis.partner.mapper.PartnerMapper">
    <resultMap id="BaseResultMap" type="com.freetax.mybatis.partner.entity.Partner">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="banner" property="banner" jdbcType="VARCHAR"/>
        <result column="link" property="link" jdbcType="VARCHAR"/>
        <result column="isdel" property="isdel" jdbcType="INTEGER"/>
        <result column="intime" property="intime" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, banner, link, isdel, intime, name
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fr_partner
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fr_partner
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.freetax.mybatis.partner.entity.Partner">
    insert into fr_partner (id, banner, link, 
      isdel, intime, name)
    values (#{id,jdbcType=INTEGER}, #{banner,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{isdel,jdbcType=INTEGER}, #{intime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.freetax.mybatis.partner.entity.Partner">
        insert into fr_partner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="banner != null">
                banner,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="isdel != null">
                isdel,
            </if>
            <if test="intime != null">
                intime,
            </if>
            <if test="name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="banner != null">
                #{banner,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                #{isdel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.freetax.mybatis.partner.entity.Partner">
        update fr_partner
        <set>
            <if test="banner != null">
                banner = #{banner,jdbcType=VARCHAR},
            </if>
            <if test="link != null">
                link = #{link,jdbcType=VARCHAR},
            </if>
            <if test="isdel != null">
                isdel = #{isdel,jdbcType=INTEGER},
            </if>
            <if test="intime != null">
                intime = #{intime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.freetax.mybatis.partner.entity.Partner">
    update fr_partner
    set banner = #{banner,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      isdel = #{isdel,jdbcType=INTEGER},
      intime = #{intime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <update id="updateByid" parameterType="com.freetax.mybatis.partner.entity.Partner">
        update fr_partner
        set banner = #{banner,jdbcType=VARCHAR},
        link = #{link,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryPartnerList" resultType="com.freetax.mybatis.partner.entity.Partner">
    SELECT * FROM fr_partner WHERE isdel = 0
  </select>

    <select id="findAllQueryPartnerByList" resultType="com.freetax.mybatis.partner.entity.Partner"
            parameterType="com.freetax.mybatis.partner.entity.Partner">
        select * from fr_partner WHERE isdel = 0
        <if test="name != null">
            AND name LIKE concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>
    </select>

    <update id="deletePartner" parameterType="com.freetax.mybatis.partner.entity.Partner">
        UPDATE fr_partner
        SET isdel = #{isdel,jdbcType=INTEGER}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>